<div class="inner">
    
    <table class="table-striped">
        <thead>
            <th>Product Name</th>
            <th>Current Inventory</th>
            <th>Units Sold</th>
            <th>Total Income</th>
        </thead>
        <tbody>
            <tr *ngFor="let prod of allproducts">
                <td class="table-name">- {{prod.name}}</td>
                <td class="table-action">{{prod.inventory}}</td>
                <td class="table-action">{{prod.units_sold}}</td>
                <td class="table-action">${{prod.income}} </td>
            </tr>
        </tbody>
    </table>

</div>
