<div class="inner">

    <button 
        (click)="openAddProduct()"
        *ngIf="!hideaddbutton"
        class="addbutton"
        >Add Product</button>

<!-- //add product window -->
    <app-add-product 
        (EventClose)="closeWindow()" 
        (EventGetProducts)="getProducts()" 
        *ngIf="create">
    </app-add-product>

<!-- //edit product window -->
    <app-edit-product 
        (EventClose)="closeWindow()" 
        (EventGetProducts)="getProducts()" 
        [prod_id]="edit_product_id"
        *ngIf="edit">
    </app-edit-product>

<!-- //delete product window -->
    <app-delete-product 
        (EventClose)="closeWindow()" 
        (EventGetProducts)="getProducts()" 
        [prod_id]="delete_product_id"
        *ngIf="delete">
    </app-delete-product>

    <table class="table-striped">
        <tbody>
            <tr *ngFor="let prod of allproducts">
                <td class="table-name">{{prod.name}}</td>
                <td class="table-action">
                    <button class="btn-edit" (click)="openEditProduct(prod._id)">Edit</button>
                </td>
                <td class="table-action">
                    <button class="btn-delete" (click)="openDeleteProduct(prod._id)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>

   
    


</div>
