<div class="inputcontainer">

    <button class="closebutton" (click)="closeAddProduct()">Close</button>

    <div *ngIf="errors">
        <h4>Errors:</h4>
        <ul>
            <div *ngFor="let item of errors">
                <li class="errors">{{item.message}}</li>
            </div>
        </ul>
    </div>

    <form (submit)="createProduct()">
        <div class="form-group">
            <label for="name">Product Name:</label>
            <input name="createproduct.name" [(ngModel)]="createproduct.name" class="form-control" id="name" placeholder="---">
        </div>
        <div class="form-group">
            <label for="price">Product Price:</label>
            <input name="createproduct.price" [(ngModel)]="createproduct.price" class="form-control" id="price" placeholder="---" type="number">
        </div>
        <div class="form-group">
            <label for="boxcount">Units Per Box:</label>
            <input name="createproduct.boxcount" [(ngModel)]="createproduct.boxcount" class="form-control" id="boxcount" placeholder="---" type="number">
        </div>
        <div class="form-group">
            <label for="imageurl">Image Url:</label>
            <input name="createproduct.imageurl" [(ngModel)]="createproduct.imageurl" class="form-control" id="imageurl" placeholder="---">
        </div>

        <button class="createbutton" type="submit">Add Product</button>
    </form>

</div>
